
*.d

*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.out

build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
install_manifest.txt
.cache/

.vscode/
.history/
*.log

.DS_Store

node_modules/
dist/
.env
